@charset "utf-8";

body{
    font-family: 'NotoSans', sans-serif;
    font-weight: 400;
}

body, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

div{
    display: block;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

.cf:after{
    content: "";
    display: block;
    clear: both;
}

.w65{
    width: 65px;
}

.subBodyWrap{
    width: 100%;
}

#subHeader{
    width: 100%;
    padding-top: 30px;
    position: fixed;
    z-index: 999;
    background: #fff;
}

#subHeader div{
    float: left;
}

.subLogo{
    padding: 0 30px;
}

.subGnb{
    margin-top: 12px;
}

.subGnb li{
    float: left;
    width: 120px;
    height: 70px;
    text-align: center;
    display: block;
}

.subGnb li ul li a{
    color: #848484;
}

.subGnb li ul li a:hover{
    color: #f47a20;
}

.gnbOn1, .gnbOn2, .gnbOn3, .gnbOn4, .gnbOn5{
    display: block;
    position: absolute;
    top: 107px;
    width: 120px;
    height: 0;
    overflow: hidden;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
}

.gnbOn1 li, .gnbOn2 li, .gnbOn3 li, .gnbOn4 li, .gnbOn5 li{
    text-align: left;
    font-size: 13px;
    color: #848484;
    border-bottom: 1px solid #e8e8e8;
    width: 110px;
    height: 35px;
    line-height: 35px;
}

.gnbOn1 li:last-child, .gnbOn2 li:last-child, .gnbOn3 li:last-child, .gnbOn4 li:last-child, .gnbOn5 li:last-child{
    border-bottom: none;
}

.subGnb li a{
    display: block;
}

.subGnb li:hover .gnbOn1{
    transition: 0.3s all;
    height: 180px;
    display: block;
    border-top: 5px solid #f47a20;
}

.subGnb li:hover .gnbOn2{
    transition: 0.3s all;
    height: 470px;
    display: block;
    border-top: 5px solid #f47a20;
}

.subGnb li:hover .gnbOn3{
    transition: 0.3s all;
    height: 75px;
    display: block;
    border-top: 5px solid #f47a20;
}

.subGnb li:hover .gnbOn4{
    transition: 0.3s all;
    height: 180px;
    display: block;
    border-top: 5px solid #f47a20;
}

.subGnb li:hover .gnbOn5{
    transition: 0.3s all;
    height: 110px;
    display: block;
    border-top: 5px solid #f47a20;
}


/* *//* *//* *//* *//* *//* *//* */
.subMainSliderWrap{
    width: 100%;
    position: relative;
    top: 110px;
}

.subMainSlider{
    background: url("../images/sub/subvisual_bg1.jpg") no-repeat;
    background-position: center;
    height: 560px;
}

.subMainSliderContents{
    color: #fff;
    text-align: center;
    line-height: 70px;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
}

.subMainSliderContents h2{
    background: url("../images/sub/bracket_title.png") no-repeat;
    background-position: center 115px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 12px;
    padding-top: 100px;
}

.subMainSliderContents h3{
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 20px;
}

.subMainSliderContents div{
    text-align: center;
    font-size: 40px;
    letter-spacing: 24px;
    
}

.subMainSliderContents div span{
    color: darkorange;
    font-weight: 500;
    background: url(../images/sub/underline_title.png) no-repeat;
    background-position: bottom right;
    
}

.subMainSliderContents div h4{
    display: inline-block;
    color: #fff;
}


/* *//* *//* *//* *//* *//* *//* */
.subMainSliderTopDiv{
    width: 350px;
    height: 34px;
    background: #fff;
    position: absolute;
    top: 112px;
    right: 0;
    border-top: 1px solid #f3f3f3;
    z-index: 2;
}

.subMainSliderTopContents{
    height: 34px;
}

.subMainSliderTopContents li{
    width: 174px;
    float: left;
    color: #a5a5a5;
    font-size: 14px;
    font-weight: 200;
    vertical-align: middle;
    text-align: center;
    line-height: 35px;
    margin-bottom: -24px;
}

.link1Off, .link2Off{
    display: block;
}

.link1On a img, .link2On a img{
    display: none;
}

.subMainSliderTopContents li div{
    width: 1px;
    height: 12px;
    background: #888;
    margin: 0;
    margin-top: 12px;
}

.link1Off a:hover, .link2Off a:hover{
    color: #f47a20;
}

.link1Off a:hover img{
    content: url("../images/sub/btn_link1_on.png");
}

.link2Off a:hover img{
    content: url("../images/sub/btn_link2_on.png");
}


/* *//* *//* *//* *//* *//* *//* */

.subMainSliderBottomDiv{
    position: absolute;
    bottom: 0;
    left: 300px;
    width: 1000px;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
}

.subMainSliderBottomDivContents li{
    float: left;
    line-height: 60px;
    height: 60px;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.nav1{
    width: 60px;
    background: darkorange;
    padding: 0;
}

.nav2{
    padding: 0 30px;
}

.nav3{
    width: 160px;
    padding: 0 30px;
}

.nav3On{
    position: absolute;
    top: 61px;
    left: 180px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.09);
    border-left: 1px solid #e4e4e4;
    display: none;
}

.nav3Tit{
    display: block;
    background: url("../images/sub/ar_snb.png") no-repeat;
    background-position: right center;
}

.nav3:hover .nav3On{
    display: block;
}

.nav3On li{
    width: 160px;
    height: 60px;
    padding: 0 30px;
    background: #fff;
    float: none;
    display: block;
}

.nav3On li a{
    display: block;
}

.nav3On li a:hover{
    background: url("../images/sub/ar_snb.png") no-repeat;
    background-position: right;
}


/* *//* *//* *//* *//* *//* *//* */
.subRow1Wrap{
    width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
}

.subRow1TitLine{
    width: 33px;
    height: 2px;
    background: #000;
}

.subRow1 h2{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

.subRow1 span p{
    font-size: 20px;
    margin-bottom: 20px;
}

.subRow1 span ul li ul{
    height: 15px;
}

.subRow1 span ul li ul li{
    float: left;
    font-size: 14px;
}

.subRow1 span ul li ul li div{
    width: 1px;
    height: 12px;
    vertical-align: middle;
    background: #888;
    margin-top: 5px;
}

.subRow1 span ul li ul li:first-child{
    width: 100px;
}

.subRow1 span ul li ul li:last-child{
    color: #999;
    margin-left: 30px;
}

.subRow1Btn{
    width: 120px;
    height: 32px;
    background: url("../images/sub/bg_sendemail.png") no-repeat;
    background-position: 15px 0;
    
}

.subRow1Btn a{
    font-size: 14px;
    border: 1px solid #dbdbdb;
    padding: 5px 20px;
    transition: all 0.3s;
}

.subRow1Btn:hover a{
    border: 1px solid #000;
}


/* *//* *//* *//* *//* *//* *//* */

.subRow2{
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    background: url("../images/sub/bg_introduction_info.png") no-repeat;
    background-size: 100% 100%;
    margin-top: -300px;
}

.subRow2 div{
    padding-top: 400px;
    margin-left: 60px;
    color: #fff;
}

.subRow2 div h5{
    margin-top: 10px;
    font-size: 30px;
}

.subRow2 div p{
    margin-top: 15px;
    color: #888;
    font-size: 14px;
    line-height: 200%;
    font-weight: 300;
}


/* *//* *//* *//* *//* *//* *//* */
.subRow3Wrap{
    width: 100%;
}

.subRow3{
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}

.subRowTit ul li{
    float: left;
    font-size: 18px;
    line-height: 12px;
    height: 12px;
    padding: 10px 0;
    margin-right: 10px;
}

.subRowTit ul li:last-child{
    font-size: 14px;
}

.subRowTit ul li div{
    width: 1;
    height: 12px;
    background: #888;
}

.subRow3Contents li{
    float: left;
    width: 166px;
    text-align: center;
    font-size: 14px;
}


/* *//* *//* *//* *//* *//* *//* */
.subRow4Wrap{
    width: 100%;
}

.subRow4{
    width: 1000px;
    padding-top: 50px;
    margin: 0 auto;
}

.subRow4Contents li{
    float: left;
    width: 218px;
    height: 140px;
    margin-right: 42px;
    font-size: 12px;
}

.subRow4Contents li:nth-child(4){
    margin-right: 0
}

.subRow4Contents li a{
    
}

.subRow4Contents li a div{
    margin-bottom: 10px;
}

.subRow4Contents li a div img{
    width: 218px;
}


/* */
.subRow5Wrap{
    width: 100%;
    border-top: 1px solid #000;
    margin-top: 30px;
}

.subRow5{
    height: 82px;
}

.subRow5 div{
    float: left;
}

.subRow5 div ul{
    height: 82px;
}

.subRow5Left li, .subRow5Right li{
    float: left;
    margin-right: 10px;
}

.subRow5Left ul li div, .subRow5Right ul li div{
    width: 1px;
    height: 12px;
    background: #e1e1e1;
    margin-top: 36px;
}

.subRow5Left ul, .subRow5Right ul{
    margin-left: 30px;
}

.subRow5Left ul li:last-child, .subRow5Right ul li:last-child{
    font-size: 12px;
}

.subRow5Left{
    width: 50%;
    display: block;
    border-right: 1px solid #e1e1e1;
    box-sizing: border-box;
    height: 82px;
    line-height: 82px;
}

.subRow5Right{
    width: 50%;
    display: block;
    height: 82px;
    line-height: 82px;
}


/* *//* *//* *//* *//* *//* *//* */

#footer{
    width: 100%;
}

.footerWrap{
    background: #f3f1f4;
    overflow: hidden;
}

.footerInfo{
    width: 200px;
    border-right: 1px solid #e3e1e4;
    margin-right: 60px;
}

.footerInfo h2{
    font-size: 18px;
    font-weight: 400;
}

.footerInfo h3, .footerInfo h4{
    font-size: 22px;
    font-weight: 400;
}

.footerInfo h5{
    font-size: 34px;
    font-weight: 400;
}

.footerInfo h6{
    font-size: 14px;
    font-weight: 400;
    color: #6c6c6c;
}


/* *//* *//* *//* *//* *//* *//* */

.footerTop{
    height: 220px;
    position: relative;
    padding: 60px 50px;
}

.footerTop01Btn li{
    margin-top: 10px;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50px 50px 50px 50px;
    background: #343235;
    margin-right: 8px;
}

.footerTop01Btn li:hover{
    background: #131515;
}

.footerTop div{
    float: left;
}

/* *//* *//* *//* *//* *//* *//* */

.footerTop02{
    
}

.footerTop02Contents{
    
}

.footerTop02Info{
    font-size: 20px;
}

.footerTop02Contents li ul{
    width: 800px;
    font-size: 14px;
}

.footerTop02Contents li ul li{
    float: left;
    margin-right: 10px;
    line-height: 29px;
}

.footerTop02Contents li ul li:last-child{
    color: #6c6c6c;
}

.footerTop02Contents li ul li:nth-child(2){
    margin-right: 5px;
}

.footerTop02Contents li ul li div{
    width: 1px;
    height: 10px;
    background: #6c6c6c;
    margin-top: 10px;
    margin-right: 5px;
}


/* *//* *//* *//* *//* *//* *//* */

.footerTop03{
    background: url(../images/sub/bg_pf.jpg) no-repeat;
    background-size: 100% 100%;
    width: 220px;
    height: 220px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    position: absolute;
    right: 50px;
}

.footerTop03 span{
    padding: 5px 5px;
    border: 1px solid #3d3d3d;
    font-size: 12px;
    color: #626262;
    line-height: 80px;
}


/* *//* *//* *//* *//* *//* *//* */

.footerBottom{
    width: 100%;
    height: 42px;
    line-height: 42px;
    border-top: 1px solid #e3e1e4;
    position: relative;
    box-sizing: border-box;
}

.footerBottomContents{
    position: absolute;
    right: 42px;
    width: 180px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #7e7e7e;
}

.footerBottomContents a li{
    float: left;
    height: 42px;
    display: block;
    font-size: 14px;
    color: #7e7e7e;
}

.footerBottomContents ul{
    padding: 0 15px;
    background: #fff;
    border: 1px solid #343235;
    position: absolute;
    bottom: 42px;
    display: none;
}

.footerBottomContents:hover .footerOn{
    display: block;
}

.footerBottomContents ul li a{
    color: #888;
    display: block;
}

.footerBottomContents ul li a:hover{
    color: #444;
}

.footerBottomContents a li:first-child{
    margin-right: 40px;
}

.footerBottomContents li{
    
}

.footerBtn3{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    width: 42px;
    height: 42px;
    background: #343235;
    cursor: pointer;
}